<body>
    
    <!-- TODO: Add SDKs for Firebase products that you want to use
        https://firebase.google.com/docs/web/setup#available-libraries -->

    

    <h1>Admin Database</h1>
    <input type="text" placeholder="name" id="nameField">
    <input type="text" placeholder="attend" id="attendField">
    <button (click)="writeData()">Submit</button>

</body>

<!-- <script>
    // Your web app's Firebase configuration
   

     function writeData(){
        firebase.database().ref("User").set({
         name: document.getElementById("nameField").value,
         attend: document.getElementById("attendField").value
         });
        console.log("String Hello");
    }


    </script> -->